<section>
    <div>
        <h1>News Section</h1>
        <div>
            <table>
                <tr>
                    <td style="height:50px">
                        <input type="text" placeholder="Title" ng-model='image'/>
                    </td>
                </tr>
                <tr>
                    <td style="height:100px; ">
                        <textarea rows="4" cols="50" placeholder="Body"></textarea>    
                    </td>
                </tr>
                <tr>
                    <td style="height:50px">
                        <input type="file"/>
                    </td>
                </tr>
                <tr>
                    <td style="height:50px">
                        <input type="button" value="POST" ng-click="checkImage"/>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</section>