<div>
    <link rel="stylesheet" type="text/css" href="/Assets/js/directives/template1/ui/playlistComponent/css/playlistComponent.css" />
    <table>
        <tr>
            <td>
                <table class="imageTable">
                    <tr ng-repeat="video in videos">
                        <td ng-click="playVideo($index)">
                            <img src="{{video.thumbnail}}" />
                            <input type="button" value="DELETE" ng-click="remove($index)" ng-show="isShowDelete"/>
                        </td>
                    </tr>
                </table>
            </td>
            <td>
                <embed-video video="videoPlayed"></embed-video>
            </td>
        </tr>
    </table>
</div>