<div class="bg3">
    <div class="row margin-custom">
        <div class="col-xs-4 bg4">
            <nav class="navbar navbar-default divTransparent">
                <div class="form-group ">
                    <input type="text" class="form-control" placeholder="Username" ng-model="username" aria-describedby="basic-addon1" required/>
                </div>

                <div class="form-group ">
                    <input type="password" class="form-control" aria-describedby="basic-addon1" placeholder="Password" ng-model="password" required/>
                </div>

                <div class="form-group">
                    <input type="password" class="form-control" aria-describedby="basic-addon1" placeholder="Re-Type Password" ng-model="repassword" required/>
                </div>

                <div class="form-group">
                    <input type="text" class="form-control" aria-describedby="basic-addon1" placeholder="First Name" ng-model="firstname"  required/>
                </div>

                <div class="form-group">
                    <input type="text" class="form-control" aria-describedby="basic-addon1" placeholder="Middle Name" ng-model="middlename" required/>
                </div>

                <div class="form-group">
                    <input type="text" class="form-control" aria-describedby="basic-addon1" placeholder="Last Name" ng-model="lastname" required/>
                </div>
                <div class="form-group">
                    <verification-code image="choosenVerification"></verification-code>
                </div>
                <div class="form-group">
                    <input type="button" value="Change Verification Code" ng-click="changeVerificationCode()"/>
                </div>
                <div class="form-group">
                    <div class="form-inline">
                        <select class="form-control">
                            <option>Month</option>
                        </select>

                        <select class="form-control">
                            <option>Day</option>
                        </select>

                        <input type="text" class="form-control" placeholder="YYYY" />
                    </div>
                </div>

                    <input type="button" ng-click="submit()" class="btn btn-md btn-hover btn-info btn-block" value="SIGN UP" />
            </nav>
        </div>
    </div>
</div>

