<div>
    <center>
        <div ng-controller="adminDashboardCtrl">
            <h1>Admin Dashboard</h1>
            <admin-nav-bar items="navItems"></admin-nav-bar>
            <table style="table-layout:fixed">
                <tr style="width:800px">
                    <td>
                        <input type="button" ng-click="toggleInbox()" value="Toggle Inbox" />
                        <inbox-section items="inbox" ng-show="inboxShow" id="secInbox"></inbox-section>
                    </td>
                </tr>

                <!--
                <tr style="width:800px">
                    <td>
                        <input type="button" ng-click="toggleNews()" value="Toggle News" />
                        <news-section ng-show="newsShow" id="secNews"></news-section>
                    </td>
                </tr>-->
                <tr style="width:800px">
                    <td>
                        <input type="button" ng-click="toggleConcerns()" value="Toggle Concern" />
                        <concern-section id="secConcern" ng-show="concernShow" items="concernData"></concern-section>
                    </td>
                </tr>
                <!--<tr>
                    <td>
                        <admin-tool-bar ng-cloak></admin-tool-bar>
                    </td>
                </tr>-->

            </table>
        </div>
    </center>
</div>





